---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar
    navLinks={{
      actividades: "Actividades",
      horarios: "Horarios",
      escalafon: "Escalafon",
      training: "Roles",
    }}
    isNotFrontPage
  />

  <main>
    <h2>Actividades</h2>
    <div class="actividades-container" id="actividades">
      <h3>Lunes</h3>
      <h3>Martes</h3>
      <h3>Miercoles</h3>
      <h3>Jueves</h3>
      <h3>Viernes</h3>
      <h3>Sabado</h3>
      <h3>Domingo</h3>

      <h3>Entrenamientos de Armas Separadas</h3>
      <h3>Entrenamiento general + Patrulla</h3>
      <h3>Entrenamiento de Armas Conjunta</h3>
      <h3>Entrenamiento general + Patrulla</h3>
      <h3>Cursos</h3>
      <h3>Entrenamiento de Armas Separadas</h3>
      <h3>Misiones</h3>
    </div>
  </main>
</Layout>

<style>
  main {
    padding-top: 70px;
    width: 90%;
    margin: 0 auto;
  }

  h1,
  h2,
  p {
    display: block;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "Stick No Bills", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .actividades-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 4rem;
  }

  .actividades-container h3 {
    padding: 8px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid brown;
    text-align: center;
    align-self: stretch;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actividades-container h3:nth-child(-n + 7) {
    background-color: #bd1c26;
    border: none;
    border: 1px solid rgb(153, 6, 6);
    border-bottom: none;
  }
</style>
