---
import { Image } from "astro:assets";

const images = import.meta.glob("/public/images/galeria/*.*", { eager: true });
const imagePaths = Object.keys(images).map((path) =>
  path.replace("/public", ""),
);
---

<section class="galeria" id="gallery">
  <h2>Galeria</h2>
  <div class="gallery-list collapsed">
    {
      imagePaths.map((item) => {
        const filename = item.split("/").pop()?.split(".")[0] || "imagen";
        return (
          <div class="gallery-item">
            <Image
              src={item}
              alt={`Comando 99 - ${filename}`}
              width={800}
              height={200}
            />
          </div>
        );
      })
    }
  </div>
  <div class="gallery-options">
    <button
      >Ver mas fotos <i class="fas fa-chevron-down navigation-chevron"
      ></i></button
    >
    <a href="/galeria">Ver Galeria completa</a>
  </div>
</section>

<style>
  .galeria {
    min-height: 200px;
    h2 {
      text-align: center;
      border-bottom: 2px solid rgba(255, 0, 0, 0.178);
    }
  }
  .gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-bottom: 0;
    padding-inline: 1em;
    padding-top: 1em;
    transition: 0.5s;
  }

  @media (min-width: 768px) {
    .gallery-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .gallery-list.collapsed {
    display: grid;
  }

  .gallery-list.collapsed img:nth-child(n + 10) {
    display: none;
  }
  .gallery-item {
    position: relative;
    overflow: hidden;
  }

  .gallery-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.281),
      rgba(255, 0, 0, 0)
    );
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
  }

  .gallery-item:hover::after {
    opacity: 1;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    /* margin: 5px; */
    transition: 0.2s;
    border: 1px solid black;
    display: block;
  }
  .gallery-item:hover img {
    cursor: pointer;
  }
  .gallery-list:hover img:not(:hover) {
    filter: brightness(0.5) saturate(50%);
  }

  .gallery-options {
    display: flex;
    gap: 1vw;
    justify-content: space-around;
    margin-top: 0.5em;
    width: 60%;
    margin: 0 auto;
    border-top: 2px solid #6808085e;
    padding-top: 6px;
  }

  .gallery-options a {
    border: 1px solid brown;
    background-color: none;
  }
  .gallery-options button {
    border: none;
    background-color: brown;
    font-family: inherit;
  }

  .gallery-options button,
  .gallery-options a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: 0.5em 0em 0.5em;
    cursor: pointer;
    transition: 0.2s;
  }
  .gallery-options button:hover {
    background-color: rgb(87, 18, 18);
  }
  .gallery-options a:hover {
    background-color: rgb(87, 18, 18);
  }

  button:disabled {
    background: #270303;
    color: #534040;
    cursor: not-allowed;
  }
</style>
<script>
  const photoList = document.querySelector(".gallery-list");
  const button = document.querySelector(".galeria button");

  button?.addEventListener("click", () => {
    const isCollapsed = photoList?.classList.contains("collapsed");

    if (isCollapsed) {
      photoList?.classList.remove("collapsed");
      button.innerHTML =
        "Ver menos fotos <i class='fas fa-chevron-up navigation-chevron'></i>";
    } else {
      photoList?.classList.add("collapsed");
      button.innerHTML =
        "Ver mas fotos <i class='fas fa-chevron-down navigation-chevron'></i>";
    }
  });
</script>
