---
import { Image } from "astro:assets";
const images = import.meta.glob("/public/images/galeria/*.*", { eager: true });
const imagePaths = Object.keys(images).map((path) =>
  path.replace("/public", ""),
);
---

<section class="galeria" id="gallery">
  <h2>Galeria</h2>
  <div class="gallery-list">
    {
      imagePaths.map((item, id) => (
        <Image
          src={item}
          alt={`Screenshot of date ${id}`}
          width={800}
          height={200}
        />
      ))
    }
  </div>
  <button>Ver mas fotos</button>
</section>

<style>
  .galeria {
    min-height: 200px;
  }
  .gallery-list {
    columns: 3;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 720px;
    margin-bottom: 0;
    border: 1px solid brown;
    padding-inline: 1em;
    padding-top: 1em;
  }
  .gallery-list img {
    width: 100%;
    height: 30vh;
    margin: 5px;
    transition: 0.2s;
    border: 1px solid black;
  }
  .gallery-list img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .gallery-list:hover img:not(:hover) {
    filter: brightness(0.5);
  }

  button {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    background-color: brown;
    display: block;
    padding: 0.5em 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: 0.2s;
  }
  button:hover {
    background-color: rgb(87, 18, 18);
  }
</style>
<script>
  const photoList = document.querySelector(".gallery-list") as HTMLElement;
  const button = document.querySelector(".galeria button") as HTMLButtonElement;

  button?.addEventListener("click", () => {
    photoList.style.overflowY = "auto";
    photoList.style.maxHeight = "none";
    console.log("function ran");
  });
</script>
