<header>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/faq">Preguntas Frecuentes</a></li>
    <li><a href="/about">Sobre Nosotros</a></li>
  </ul>
</header>
