<header>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/galleria">Galeria</a></li>
      <li><a href="/faq">Preguntas Frecuentes</a></li>
      <li><a href="/about">Sobre Nosotros</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    padding-top: 1.4em;
    width: 100%;
    background: rgba(44, 20, 16, 0.719);
    position: fixed;
    top: 0;
    z-index: 40;
    backdrop-filter: blur(25px);
  }
  .nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 1.2em;
    border-bottom: 1px solid rgba(255, 0, 0, 0.349);
  }
  .nav-links li a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em;
    transition: 0.2s;
  }
  .nav-links li a:hover {
    background: rgba(255, 0, 0, 0.349);
  }
</style>
