---
interface Props {
  navLinks: Record<string, string>;
}
const { navLinks } = Astro.props;
const entries = Object.entries(navLinks);
---

<header>
  <nav>
    <ul class="nav-links">
      {
        entries.map((item) => (
          <li>
            <a href={`#${item[0]}`}>{item[1]}</a>
          </li>
        ))
      }
    </ul>

    <div class="nav-menu">
      <button aria-label="Toggle navigation menu">
        <svg
          height="58"
          width="58"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>
      <div></div>
    </div>
  </nav>
</header>
<style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 40;
    backdrop-filter: blur(25px);
  }
  .nav-links {
    padding-top: 1.4em;
    background: rgba(44, 20, 16, 0.719);
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 1.2em;
    border-bottom: 1px solid rgba(255, 0, 0, 0.349);
  }
  .nav-links li a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em;
    transition: 0.2s;
    font-size: 1.2rem;
  }
  .nav-links li a:hover {
    background: rgba(255, 0, 0, 0.349);
  }
  .nav-menu {
    display: none;
  }
  @media (max-width: 590px) {
    .nav-links {
      display: none;
    }
    .nav-menu {
      display: block;
      float: right;
    }
    .nav-menu button {
      display: block;
      height: 70px;
      width: 70px;
      background-color: #2706068f;
      color: rgba(255, 0, 0, 0.699);
      border: 2px solid rgba(153, 7, 7, 0.795);
      margin: 20px;

      &:focus {
        background-color: rgb(177, 6, 6);
        color: black;
      }
    }
  }
</style>
