<section class="summary-container">
  <div>
    <h3>Profesionalismo</h3>
    <p>
      Todas nuestras operaciones se ejecutan con la máxima excelencia y
      organización.
    </p>
  </div>
  <div>
    <h3>Comunidad Activa</h3>
    <p>
      Bienvenido sin importar tu experiencia. Desde principiante hasta veterano,
      todos tienen un lugar aquí.
    </p>
  </div>
  <div>
    <h3>Contratos Diversos</h3>
    <p>
      Como PMC profesional, nuestros contratos varían constantemente,
      garantizando misiones únicas y desafiantes.
    </p>
  </div>
  <div>
    <h3>Misiones Dinámicas</h3>
    <p>
      Cada misión evoluciona de forma realista según las decisiones y acciones
      de tu unidad.
    </p>
  </div>
</section>

<style>
  .summary-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
  }
  .summary-container div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 1px solid rgb(71, 71, 71);
    padding: 1rem;
    background: #121212;
    aspect-ratio: 2/1;
  }
</style>
