---
import { Image } from "astro:assets";
import logo from "../../public/images/logo.png";
---

<main>
  <div class="scanline-overlay"></div>
  <section class="hero" id="hero">
    <Image src={logo} alt="comando 99 logo" loading="eager" />
    <span class="reclutamos">Fase de reclutamiento: Abierta</span>
    <h1>
      Excelencia <br /><span style="color: red;">Tactica</span>
    </h1>
    <p>
      <span class="text-accent">Comando 99</span> es una comunidad milsim de Arma
      3 dedicada a recrear operaciones militares con realismo, disciplina y trabajo
      en equipo.
    </p>
    <div class="cta">
      <a href="https://discord.com/invite/UJUp2cWtwp" class="cta-call">
        Nuestro Discord
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-discord"
          viewBox="0 0 16 16"
        >
          <path
            d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"
          ></path>
        </svg>
      </a>
      <a href="#showcase">Mas Informacion</a>
    </div>
  </section>
</main>

<style>
  main {
    position: relative;
    max-height: 1920px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 0.9;
    margin-top: 0.3em;
  }
  .hero {
    padding-top: 40vh;
    padding-inline: 3vw;
    padding-bottom: 15vh;
    & p {
      max-width: 60ch;
      font-size: 1.6vw;
    }
  }
  img {
    display: block;
    height: 40vw;
    width: 40vw;
    position: absolute;
    top: 12vh;
    right: 2vw;
    filter: drop-shadow(8px 16px 3px rgba(0, 0, 0, 0.678));
  }
  .reclutamos {
    background: rgba(255, 0, 0, 0.199);
    border: 1px solid rgba(255, 0, 0, 0.411);
    padding: 6px 26px;
    color: rgb(248, 50, 15);
    font-weight: 700;
    letter-spacing: 3px;
    font-family:
      sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue";
  }
  .text-accent {
    color: rgb(253, 85, 85);
    font-weight: 600;
    font-family: "Stick No Bills";
    letter-spacing: 1.3px;
  }
  a {
    border: 1px solid rgba(255, 255, 255, 0.452);
    color: inherit;
    text-decoration: none;
    padding: 12px 20px;
    margin-right: 1em;
    transition: 0.2s;
  }
  .cta {
    margin-top: 1.5em;
    font-size: 1.2em;
  }
  .cta-call {
    border-color: transparent;
    background: hsla(0, 99%, 49%, 0.753);
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgb(0, 0, 0);

    svg {
      transform: scale(1.5);
      margin-left: 0.5rem;
      filter: drop-shadow(0 0 2px black);
    }
  }
  .cta a:hover {
    background: rgba(160, 1, 1, 0.747);
    border-color: red;
  }
  @media (max-width: 1024px) {
    h1 {
      font-size: 15vw;
    }
    #hero p {
      font-size: 2rem;
    }
    .cta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
    .cta a {
      font-size: 2rem;
      padding: 2vh 5vw;
      width: 100%;
      margin-inline: auto;
      text-align: center;
      background: #111111b9;
    }
    .cta .cta-call {
      background: hsla(0, 99%, 49%, 0.753);
    }
    .reclutamos {
      font-size: 3vw;
      display: block;
      text-align: center;
    }

    img {
      position: static;
      width: 90vw;
      height: 90vw;
    }
    img,
    .reclutamos {
      margin-inline: auto;
    }

    .hero {
      background: #111111b9;
      backdrop-filter: blur(5px);
      margin: 0;
      padding-top: 10vh;
      padding-bottom: 3rem;
    }
  }
</style>
