---
// import astroLogo from "../assets/astro.svg";
// import background from "../assets/background.svg";
---

<main>
  <div class="scanline-overlay"></div>
  <section class="hero">
    <h1>Excelencia <br /><span style="color: red;">Tactica</span></h1>
  </section>
</main>

<style>
  body {
    padding: 2%;
  }
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 0.9;
  }
</style>
