:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #131416;
  color: #ffffff;
}
.terminal-grid {
  background-image: radial-gradient(rgba(46, 92, 107, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
}
.scanline {
  width: 100%;
  height: 100px;
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(46, 92, 107, 0.05) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  pointer-events: none;
}
.stencil-text {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.hero-vignette {
  background: radial-gradient(
    circle,
    transparent 20%,
    rgba(19, 20, 22, 0.9) 100%
  );
}
